<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>店舗一覧</h1>
      <h3>
        <%= link_to "新規店舗登録", new_admin_shop_path %>
      </h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>登録日</th>
            <th>店舗名</th>
            <th>所在地</th>
          </tr>
        </thead>

        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <td><%= shop.created_at %></td>
            <td><%= shop.name %></td>
            <td><%= shop.address %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>