<div class="home-contents text-center mt-5">
  <div class="col-lg-7 col-md-10 mx-auto">
    <h1 class="fw-light mb-3">Ice Cream Search へようこそ！</h1>
    <p>あなたのお気に入りの店舗を見つけたり、いいなと思ったものを投稿しよう！</p>
  </div>
</div>
