<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/user', user: @user %>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user.id) %>
      <% end %>
    </div>
  </div>
</div>

